.project-container {
 display: flex;
 flex-direction: column;
 background-image: url("/Frame_96.png");
 background-position: center;
}

.project-form {
 background: white !important ;
}


.project-us-container {
  color: #f9ede9;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 7rem;
}
.project-form {
  border-radius: 1.5rem;
  background-color: #2d3787b4;
  width: max(35%, 400px);
  display: flex;
  flex-direction: column;
  padding: 2vw;
  margin-right: 3rem;
  margin-left: 3rem ;
}

.project-desc{
  margin-left: 2rem;
  margin-top: 4rem ;
  width: max( 55% , 450px );
  text-align: top;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.doc_link{
  color: #eca674;
}

.assign_link {
  color: #eca674;
  display: inline-block; 
  padding: 10px 15px; 
  border: 2px solid #eca674;
  background-color: rgba(73, 56, 122, 0.5); 
  border-radius: 8px; 
  transition: all 0.3s ease; 
  text-decoration: none;
}

.assign_link:hover {
  background-color: #eca674;
  color: #120b24; 
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(236, 166, 116, 0.4);
}

@media screen and (max-width: 770px) {

  .project-us-container {
    flex-direction: column;
    padding: 0 3vw; 
    align-items: center;
    margin-top: 4rem;
    gap: 2rem;
  }

  .project-form {
    width: 90%;
    padding: 20px;
    margin: 0; 
  }

  .project-desc{
    width: 90%; 
    margin: 0;
    margin-bottom: 2rem; 
    margin-top: 2rem; 
    text-align: left; 
  }

}