.detailed-event {
  padding: 6rem calc(8px + 1.5626vw);
  background-image: url("/Frame_96.png");
  display: flex;
  align-items: space-around;
  background-color: blueviolet;
}

.event-info {
  background-color: aqua;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(8px + 1.5626vw);
}
.event-details-d {
  padding: calc(8px + 1.5626vw);
}
.event-gallery {
  background-color: rosybrown;
  width: 50%;
  display: flex;
  padding: calc(8px + 1.5626vw);
}
.event-schedule {
  font-size: 3vw;
  text-align: center;
}

.calender-icon > svg {
  height: 3vw;
  width: 3vw;
  position: relative;
  top: 0.2rem;
  margin-right: 2vw;
}
.event-heading {
  font-size: 4vw;
  color: #eca674;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .detailed-event {
    flex-direction: column-reverse;
  }
  .event-info {
    width: 100%;
  }
  .event-gallery {
    width: 100%;
  }
}
