.gallery-container {
  width: 100vw;
  height: 100vh;
  overscroll-behavior: none;
}

.gallery-body {
  height: 100%;
  overscroll-behavior: none;
  display: flex;
  flex-wrap: nowrap;
}
.panel {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.panel-content {
  position: absolute;
  left: 50vw;
  bottom: 0;
  text-align: center;
  transform: translate(-50%, -50%);
}



/* -------- LightBox Styling starts here ---------- */
.gallery_image{
  width: 100%;
  display: none;
}
.masonry{
  padding: 1rem;
  cursor: pointer;
}

._jp0uN{
  /* background: rgb(85, 85, 85); */
  background-color: rgba(30, 27, 68, 0.5);
  /* padding: .2rem 0 .2rem 10rem; */
  padding-top: .5rem;
  padding-bottom: .5rem;
  /* padding-left: .4rem !important; */
  /* margin-left: .2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* opca */
}

._1R214{
  /* margin-left: .1rem; */
  /* margin: auto !important; */
  margin-right: .5rem !important;
  margin-left: .5rem;
}

._3BNPD{
  background-color: #050528 !important;
}
/* ._3-Y1e{
  border-radius: 1rem;
} */