.gallery-container {
  width: 100vw;
  height: 100vh;
  overscroll-behavior: none;
}

.gallery-body {
  height: 100%;
  overscroll-behavior: none;
  display: flex;
  flex-wrap: nowrap;
}
.panel {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.panel-content {
  position: absolute;
  left: 50vw;
  bottom: 0;
  text-align: center;
  transform: translate(-50%, -50%);
}
.gallery-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: aliceblue; */
  padding: 1rem;
}
.gallery-heading h1 {
  color: #eca674;
}

/* -------- LightBox Styling starts here ---------- */
.gallery_image {
  width: 100%;
  display: none;
}
.masonry {
  padding: 1rem;
  cursor: pointer;
}

._jp0uN {
  /* background: rgb(85, 85, 85); */
  background-color: rgba(30, 27, 68, 0.5);
  /* padding: .2rem 0 .2rem 10rem; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* padding-left: .4rem !important; */
  /* margin-left: .2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* opca */
}

._1R214 {
  /* margin-left: .1rem; */
  /* margin: auto !important; */
  margin-right: 0.5rem !important;
  margin-left: 0.5rem;
}

._30i9K {
  padding: 0.3rem 0.5rem !important;
}
._3BNPD {
  background-color: #050528 !important;
}
