* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.projects-container {
  background-image: url("/Frame_96.png");
}
.open-projects {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-projects > h1 {
  font-size: 2.5rem;
  color: #eca674;
  padding: 2rem 0;
}
.open-projects > p {
  margin-bottom: 2rem;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  background-color: #2c2b6c;
  /* opacity: 1; */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 22rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  /* height: fit-content; */
}

.project-image {
  width: 12rem;
  height: 13rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.project-title {
  color: #f6ca97;
  margin-bottom: 1.5rem;
}

.project-details {
  margin-bottom: 1rem;
}

.project-date {
  margin-bottom: 1rem;
}

.button {
  background-color: #eca674;
  color: #2c2b6c;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  border: 2px solid;
}

.button:hover {
  color: #eca674;
  background-color: #2c2b6c;
  cursor: pointer;
  border: 2px solid #eca674;
}

/* @media only screen and (max-width: 800px){
    .project-card {
        width: 20vw;
        padding: 1rem .5rem;
    }
    .project-image {
        width: 90%;
        height: 40%;
    }
    .project-title {
        font-size: 2.2vw;
    }
} */

@media only screen and (max-width: 400px){
  .project-card {
    width: 90vw;
  }
  .project-image{
    width: 80vw;
    height: 80vw;
  }
  .project-title{
    font-size: 8vw;
  }
  .project-date{
    font-size: 5vw;
  }
  .button {
    padding: 1vw 4vw;
  }
  button > a{
    font-size: 5vw;
  }
}
