* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.projects-container {
  background-image: url("/Frame_96.png");
}
.open-projects {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-projects > h1 {
  font-size: 2.5rem;
  color: #eca674;
  padding: 2rem 0;
}
.open-projects > p {
  margin-bottom: 2rem;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  /* background-color: #2c2b6c; */
  /* border-radius: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 16rem;
  margin: 1rem;
  padding: 1rem;
  /* text-align: center; */
  height: fit-content;
}
.project-card:hover > .button {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.project-image {
  width: 12rem;
  height: 13rem;
  /* border-radius: 1rem; */
  margin-bottom: 1rem;
}
.button {
  color: #eca674;
  text-decoration: none;
  background-image: linear-gradient(#050528, #050528),
    linear-gradient(rgba(238, 204, 170, 0.738), rgba(238, 204, 170, 0.738)),
    linear-gradient(#eca674, #eca674);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s linear, background-position .5s linear;
}

.project-title {
  color: #eca674;
  margin-bottom: 1.5rem;
}

.project-details {
  margin-bottom: 1rem;
}

.project-date {
  margin-bottom: 1rem;
}
