.achi-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.achi-desc{
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 8.5rem;
    border: 0.4vw solid #eca674;
    padding: 3vw;
    font-size: max(1.9vw,16px);
    font-weight: 450;
    line-height: 1.6rem;
}
.achi-btn{
    background-color: transparent;
    border: none;
    color: #eca674;
    cursor: pointer;
}
.achi-btn > svg{
    height: 2rem;
    width: 2rem;
}
@media only screen and (max-width: 700px){
    .achi-desc{
        height: 7rem;
        line-height: 1.4rem;
    }
}
@media only screen and (max-width: 400px){
    .achi-desc{
        height: 8.6rem;
    }
}
@media only screen and (max-width: 300px){
    .achi-desc{
        height: 11rem;
    }
}
@media only screen and (min-width: 1240px){
    .achi-desc{
        line-height: 2rem;
    }
}